body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrqH_L-yI5srFaD9GhmHzJx7zfB44uyTGEow&usqp=CAU);
    background-repeat:no-repeat;
    background-size:cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}
